<footer>
    <div class="container">
        <div class="footer__content">
            <div class="footer__logo">
                <img src="../../assets/img/Logo.png" alt="">
            </div>
            <div class="footer__navigation">
                <a>მთავარი</a>
                <a>ჩვენ შესახებ</a>
                <a>სიახლეები</a>
                <a>კალკულატორი</a>
                <a>დაგვიკავშირდით</a>
            </div>
            <div class="social__icon">
                <div class="fb__box"><i class="fab fa-facebook-f"></i></div>
                <div class="youtube__box"><i class="fab fa-youtube"></i></div>
            </div>
            <div class="smart__web">Created By Smart Web</div>
        </div>
    </div>
    <div class="Protection__rights">
        © 2011-2019. ყველა უფლება დაცულია
    </div>
</footer>