<div class="navigation__box">
    <nav class="container navigation">
        <ul class="nav__ul">
            <li *ngFor="let link of navigation" [ngClass]="link.classNameForLi">
                <a [routerLink]="link.routeLink" class="nav__a">{{ link.name | translate }}</a>
                <ul *ngIf="link.dropDown" class="dropdown">
                    <li *ngFor="let dropLink of link.dropDownLinks">
                        <a [routerLink]="dropLink.routeLink">{{dropLink.nameLink | translate}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
