<div class="navigation__box">
    <nav class="container navigation">
        <ul class="nav__ul">
            <li class="nav__li">
                <a routerLink="/main" class="nav__a">მთავარი</a>
            </li>
            <li class="nav__li">
                <a routerLink="/aboutas" class="nav__a">ჩვენ შესახებ</a>
            </li>
            <li class="nav__li">
                <a routerLink="/news" class="nav__a">სიახლეები</a>
            </li>
            <li class="nav__li loan__dropdown">
                <a routerLink="/loans" class="nav__a">სესხები</a>
                <ul class="dropdown">
                    <li>
                        <a>იპოთეკური სესხი</a>
                    </li>
                    <li>
                        <a>იპოთეკური სესხი</a>
                    </li>
                    <li>
                        <a>იპოთეკური სესხი</a>
                    </li>
                    <li>
                        <a>იპოთეკური სესხი</a>
                    </li>
                    <li>
                        <a>იპოთეკური სესხი</a>
                    </li>
                </ul>
            </li>
            <li class="nav__li loan__dropdown">
                <a routerLink="/getloan" class="nav__a">შეავსე განაცხადი</a>
                <ul class="dropdown">
                    <li>
                        <a routerLink="/auto-loan">Auto Loan</a>
                    </li>
                    <li>
                        <a routerLink="/business-loan">Business Loan</a>
                    </li>
                    <li>
                        <a routerLink="/fast-loan">Fast Loan</a>
                    </li>
                </ul>
            </li>
            <li class="nav__li">
                <a routerLink="/calculator" class="nav__a">კალკულატორი</a>
            </li>
            <li class="nav__li">
                <a routerLink="/contact" class="nav__a">დაგვიკავშირდით</a>
            </li>
        </ul>
    </nav>
</div>
