<div class="container">
    <div class="news__page">
        <h1>News</h1>
        <div class="boxs">
            <div class="box">
                <div class="news_box__img">
                    <img src="../../assets/img/audi.png" alt="">
                </div>
                <a type="button" class="news__box__btn">More</a>
                <div class="news__box__descrip">
                    <h2>Business Loan</h2>
                    <p>ბიზნეს იდეა გაქვს? აიღე სესხი ნებისმიერი კარგი მიზნისთვის</p>
                </div>
            </div>
            <div class="box">
                <div class="news_box__img">
                    <img src="../../assets/img/audi.png" alt="">
                </div>
                <a type="button" class="news__box__btn">More</a>
                <div class="news__box__descrip">
                    <h2>Business Loan</h2>
                    <p>ბიზნეს იდეა გაქვს? აიღე სესხი ნებისმიერი კარგი მიზნისთვის</p>
                </div>
            </div>
            <div class="box">
                <div class="news_box__img">
                    <img src="../../assets/img/audi.png" alt="">
                </div>
                <a type="button" class="news__box__btn">More</a>
                <div class="news__box__descrip">
                    <h2>Business Loan</h2>
                    <p>ბიზნეს იდეა გაქვს? აიღე სესხი ნებისმიერი კარგი მიზნისთვის</p>
                </div>
            </div>
            <div class="box">
                <div class="news_box__img">
                    <img src="../../assets/img/audi.png" alt="">
                </div>
                <a type="button" class="news__box__btn">More</a>
                <div class="news__box__descrip">
                    <h2>Business Loan</h2>
                    <p>ბიზნეს იდეა გაქვს? აიღე სესხი ნებისმიერი კარგი მიზნისთვის</p>
                </div>
            </div>
        </div>
    </div>
</div>
