<div class="container">
    <div class="news__content">
        <div class="news__title">
            <a class="news">News</a>
            <a class="all__news">All News</a>
        </div>
        <div class="news__box">
            <div class="news__img">
                <img  class="news__img" src="../../../assets/img/sectionpic3.png" alt="">
            </div>
            <h4 class="news__title__inbox">
                Business Loan
            </h4>
            <div class="see__more">
                more
            </div>
        </div>
    </div>
</div>
