<div class="container">
    <div style="margin: 50px 30px;" class="about__as__content">
        <img class="aboutas__img" src="../../assets/img/aboutAs.png" alt="">
        <h1>About As</h1>
        <p>CFI GROUP</p>
        <p>CFI Group • სიეფაი გრუპი გთავაზობს - იპოთეკურ, სამომხმარებლო, ბიზნეს, სტარტაპ, სწრაფი, აგრო და ავტო სესხებს საუკეთესო პირობებით!

 

            CFI Group • სიეფაი გრუპი კლიენტების ინტერესებიდან გამომდინარე მოქმედებს მუდამ და ზრუნავს მათ კეთილდღეობასა და კომფორტზე, ხელს უწყობს საუკეთესო სამუშაო პირობების შექმნასა და საზოგადოების განვითარებაზე.
            
             
            
            CFI Group • სიეფაი გრუპის მიზანია დაიცვას ნებისმიერი ტიპის მომხმარებლის უფლებები, შესთავაზოს ისეთი სასესხო პირობები, რომელიც, უპირველესად, მომხმარებლის სარგებელზე იქნება ორიენტირებული და მორგებული ისე, რომ არ მოხდეს მოსარგებლის უფლებების დარღვევა და უმნიშვნელოდ დაზარალებაც კი.
            
             
            
            ჩვენი დამოკიდებულება კლიენტის მიმართ ეყრდნობა მომსახურების მაღალ კულტურას, რაც გვაძლევს საშუალებას მივაღწიოთ ურთიერთგაგებას, რომლის საფუძველსაც წარმოადგენს ხარისხი, პროფესიონალიზმი და გამჭვირვალობა.
            
             
            
            ჩვენთან თანამშრომლობა მარტივია, რადგან ჩვენ მუდმივად ვვითარდებით.
        
            რატომ ჩვენ?
            

            ჩვენი თითოეული სესხის უპირატესობას წარმოადგენს შემდეგი მახასიათებლები:

            

            საიმედობა - თითოეული სესხის პირობები გამჭირვალე და გასაგებია, რომლებიც პროფესიონალებით დაკომპლექტებული გუნდის მიერ დეტალურად არის შემუშავებული.
            ღიაობა - ძირითადი ინფორმაცია განთავსებულია ვებ-გვერდზე, ხოლო დეტალური ინფორმაციისათვის ნებისმიერ დაინტერესებულ პირს შეუძლია დაგვიკავშირდეს.
            სიმარტივე და სისწრაფე - შენი მიზნებიდან გამომდინარე, სწრაფად და მარტივად შეგიძლია მიიღო თანხა შესაბამისი სერვისისა და შენზე მორგებული პირობების გათვალისწინებით.
            

            ჩვენი მიზანია, წარმოვადგენდეთ ძლიერ ინოვაციურ გუნდს. ჩვენ ვართ აქტიური "კორპორატიული მოქალაქეები“ და მიგვაჩნია, რომ ჩვენი, როგორც თითოეული თქვენგანის, მისიაა ხელი შევუწყოთ ეკონომიკურ ზრდას და სოციალური პასუხისმგებლობის განვითარებას.


            CFI Group • სიეფაი გრუპის არჩევით, შენ იძენ საიმედო და ერთგულ მეგობარ პარტნიორს.


            ჩვენ ვიღებთ პასუხისმგებლობას და ვცდილობთ შევიტანოთ პოზიტიური წვლილი საზოგადოების ცხოვრებაში.</p>
    </div>
</div>