.container {
    max-width: 1366px;
    margin: 0 auto;
}
.first__section {
    display: flex;
    justify-content: space-between;
}
.name__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
input {
    width: 400px;
    height: 30px;
    padding: 5px 5px 5px 20px;
    font-size: 18px;
    font-weight: bold;
}
.second__section {
    display: flex;
    justify-content: space-between;
}
.owner__box {
    display: flex;
    flex-direction: column;
    input {
        margin-bottom: 15px;
    }
}
.sak__code {
    display: flex;
    flex-direction: column;
}
.get__money__box {
    display: flex;
    justify-content: space-between;
}
.get__money {
    display: flex;
    flex-direction: column;
}
.currency__box {
    margin-top: 30px;
    p {
        cursor: pointer;
    }
}
.currency {
    width: 400px;
    padding-left: 30px;
    border: 1px solid;
    height: 45px;
    overflow: hidden;
    transition: 0.6s ease;
    display: flex;
    flex-direction: column;
    &:hover {
        transition: 0.6s ease;
        height: 155px;
    }
    .active {
        display: flex;
        order: -1;
    }
}
.get__money {
    margin-top: 15px;
}
.button__box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.send__button {
    margin: 80px auto;
    width: 400px;
    padding: 20px 0;
    background: rgb(12, 133, 28);
    color:#fff;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}
input.ng-invalid.ng-touched {
    border: 2px solid red;
}
.hobie-btn {
    padding: 10px 20px;
    border: none;
    background: #0a3d5a;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}