<div class="container">
    <h1 class="page__title" style="text-align: center;">Auto Loan</h1>
    <div class="form__group">
        <form [formGroup]="autoForm" (ngSubmit)="onSubmit(autoForm)">
            <div class="private__info">
                <h1>Private Information</h1>
                <div style="text-align: right;">
                    <a (click)="fetchForm()" style="font-size: 25px; font-weight: bold; cursor: pointer;">Fetch Form</a>
                </div>
                <hr>
                <div class="first__section">
                    <div class="top__field">
                        <div class="name__box">
                            <label for="name">Name</label>
                            <input 
                            type="text" 
                            id="name" 
                            name="name"
                            formControlName="name"
                            >
                            <span
                                *ngIf="!autoForm.get('name').valid && autoForm.get('name').touched"
                                style="color: red;">

                                <span 
                                    *ngIf="autoForm.get('name').errors['forgetNameis']">
                                    This name is not valid
                                </span>

                                <span 
                                    *ngIf="autoForm.get('name').errors['required']">
                                    This field is required!
                                </span>

                            </span>
                        </div>
                        <div class="name__box">
                            <label for="surname">Surname</label>
                            <input 
                            type="text" 
                            id="surname" 
                            name="surname"
                            formControlName="surname"
                            >
                            <span
                                *ngIf="!autoForm.get('surname').valid && autoForm.get('surname').touched"
                                style="color: red;">
                                Please Enter a Valid surname
                            </span>
                        </div>
                    </div>
                    <div class="bottom__field">
                        <div class="name__box">
                            <label for="id">User Id</label>
                            <input 
                            type="text" 
                            id="id" 
                            name="id"
                            formControlName="id"
                            >
                            <span
                                *ngIf="!autoForm.get('id').valid && autoForm.get('id').touched"
                                style="color: red;">
                                Valid id Must be 11 number
                            </span>
                        </div>
                        <div class="name__box">
                            <label for="surname">Tel</label>
                            <input 
                            type="text" 
                            id="tel" 
                            name="tel"
                            formControlName="tel"
                            >
                            <span
                                *ngIf="!autoForm.get('tel').valid && autoForm.get('tel').touched"
                                style="color: red;">
                                Valid Tel Must be 9 number
                            </span>
                        </div>
                    </div>
                </div>
                <!-- <div *ngFor="let item of formErrorMessage"> {{ item }}</div> -->
            </div>
            <div class="loan__defend">
                <h1>Loan Defend</h1>
                <hr>
                <div class="second__section">
                    <div class="owner__box">
                        <input type="radio">

                        <label for="Owner-name">Owner Name</label>
                        <input type="text" name="ownerName" id="ownerName" formControlName="ownerName">
                        <span
                            *ngIf="!autoForm.get('ownerName').valid && autoForm.get('ownerName').touched"
                            style="color: red;">
                            Valid Enter valid Name
                        </span>

                        <label for="Owner-surname">Owner Surname</label>
                        <input type="text" name="ownerSurnme" id="ownerSurnme" formControlName="ownerSurname">
                        <span
                            *ngIf="!autoForm.get('ownerSurname').valid && autoForm.get('ownerSurname').touched"
                            style="color: red;">
                            Valid Enter valid ownerSurname
                        </span>

                        <label for="Owner-id-number">Owner Id Number</label>
                        <input type="number" name="ownerId" id="ownerId" formControlName="ownerId">
                        <span
                            *ngIf="!autoForm.get('ownerId').valid && autoForm.get('ownerId').touched"
                            style="color: red;">
                            Valid Id Must Be 11 Number
                        </span>

                        <label for="Owner-address">Owner address</label>
                        <input type="text" name="ownerAddress" id="ownerAddress" formControlName="ownerAddress">
                        <span
                            *ngIf="!autoForm.get('ownerAddress').valid && autoForm.get('ownerAddress').touched"
                            style="color: red;">
                            Valid Enter valid ownerAddress
                        </span>

                    </div>
                    <div class="sak__code">
                        <input type="radio">
                        <label for="sac-code">Sac Code</label>
                        <input type="number" name="sacCode" id="sacCode" formControlName="sacCode">
                        <span
                            *ngIf="!autoForm.get('sacCode').valid && autoForm.get('sacCode').touched"
                            style="color: red;">
                            Valid Sac Code Must Be 15 Number
                        </span>
                        <div formArrayName="hobbies" >
                            <h4>Your Hobbies</h4>
                            <button (click)="addHobies()" type="button" class="hobie-btn">Add Hobies</button>
                            <div *ngFor="let hobb of autoForm.get('hobbies').controls; let i = index">
                                <input  type="text" [formControlName]="i">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="third__section">
                <h1>Loan About</h1>
                <hr>
                <div class="get__money__box">
                    <div class="get__money">
                        <label for="getMoney">Money</label>
                        <input type="number" name="getMoney" id="getMoney" formControlName="getMoney">
                        <span
                            *ngIf="!autoForm.get('getMoney').valid && autoForm.get('getMoney').touched"
                            style="color: red;">money must be more then 500 and less then 500 000

                                <!-- <span 
                                    *ngIf="autoForm.get('getMoney').errors['moneyIsNotValid']">
                                    money must be more then 500 and less then 500 000
                                </span> -->

                                <!-- <span 
                                    *ngIf="autoForm.get('getMoney').errors['required']">
                                    This field is required!
                                </span> -->

                        </span>
                    </div>
                    <div class="currency__box">
                        <div class="currency">
                        <p 
                            *ngFor="let item of currenc" 
                            [ngClass]="{active: isActive(item)}"
                            (click)="select(item)"
                        >
                            {{item}}
                        </p>
                        <input type="text" value="" formControlName="currenc" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="button__box">
                <button [disabled]="!autoForm.valid" class="send__button" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
