<div class="container">
    <div style="margin: 0 30px;" class="lans__box">
        <h1>იპოთეკური სესხი</h1>
        <img src="../../assets/img/Rectangle 83.png" alt="">
        <p>ჩვენი სახლი - ყველაზე მყუდრო და კომფორტული ადგილი დასავენებლად.


            აიღე იპოთეკური სესხი და უზრუნველყავი საკუთარი  სიმშვიდე სახლში - რომელიც ყველაზე მეტად გეყვარება.
            
             
            
            CFI Group • სიეფაი გრუპი მომხმარებლებს სთავაზობს იპოთეკურ სესხს, რომელიც მომხმარებლის ინდივიდუალურ მოთხოვნასა და შემოსავალზეა მორგებული.</p>
    </div>
</div>